@import "tailwindcss";

@theme {
  --font-sans: "Inter", "system-ui", "sans-serif";
}

body {
  background-color: var(--color-slate-50);
  color: var(--color-slate-900);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

@media print {
  @page {
    size: A4 auto;
    margin: 10mm;
  }
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    background-color: white !important;
  }
  
  /* Additional force background color for print */
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}
